@import url("https://fonts.googleapis.com/css?family=Germania+One");
@import url("https://fonts.googleapis.com/css?family=Barlow:600");

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.addCities {
  font-family: "Barlow";
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18.7px;
  cursor: default;
}

.appLogo {
  font-family: "Germania One";
  color: black;
  font-size: 40px;
  line-height: 28px;
}

.addCitiesPart {
  font-size: 17.5px;
}
