@import url("https://fonts.googleapis.com/css?family=Germania+One");

.superContainer {
  display: flex;
  justify-content: center;
}

.navContainer {
  width: 100vw;
  height: 10vh;
  margin: 0px;
  backdrop-filter: blur(20px);
  background-color: rgba(159, 160, 189, 0.075);
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 500px) {
  .navContainer {
    height: 14vh;
    justify-content: center;
    flex-direction: column;
  }
}

.appName {
  font-family: "Germania One";
  width: 50%;
  color: white;
  font-size: 25px;
  cursor: default;
}
