@import url("https://fonts.googleapis.com/css?family=Germania+One");

:root {
  --logoNavColor: white;
  --messageAddCitiesColor: black;
  --borderColorCardsAndNav: rgba(40, 40, 40, 0.35);

  --logoFont: "Germania One", sans-serif;
  --messageAddCitiesFont: sans-serif;
}

body {
  background-image: url("./img/pexels-pixabay-209831.jpg");
  background-attachment: scroll;
}
