@import url("https://fonts.googleapis.com/css?family=Germania+One");
@import url("https://fonts.googleapis.com/css?family=Barlow:600");

:root {
  --logoNavColor: white;
  --InitialMessageAddCitiesColor: black;
  --borderColorCardsAndNav: rgba(40, 40, 40, 0.35);
  --inputFontColor: white;
  --addButtonColor: white;
  --hoverAddButton: #40ca00;

  --logoFont: "Germania One", sans-serif;
  --InitialMessageAddCitiesFont: "Barlow", sans-serif;
  --inputFont: "Barlow", sans-serif;
}

body {
  background-image: url("./img/pexels-pixabay-209831.jpg");
  background-attachment: scroll;
}
